@use "../util" as u;

.contact {
  text-align: center;
  padding-top: 3.5rem;
  @media (width >= u.rem(768)) {
    max-width: 70%;
    margin-inline: auto;
  }
  @media (width >= u.rem(1024)) {
    max-width: 100%;
  }
  .container {
    display: flex;
    column-gap: 2rem;
  }
  &__left {
    flex: 1;
    text-align: left;
  }
  &__right {
    flex: 2;
  }
  &__input {
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    label {
      position: absolute;
      display: inline-block;
      left: 0;
      top: 0;
      z-index: 2;
      height: 100%;
      padding: 1rem 0;
      overflow: hidden;
      text-align: start;
      color: var(--c-silver);
      pointer-events: none;
      transform-origin: 0 0;
      transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    }
    &:not(:placeholder-shown) {
      padding-top: 1.625rem;
      padding-bottom: 0.625rem;
      & ~ label::after {
        position: absolute;
        inset: 1rem 0.375rem;
        z-index: -1;
        height: 1.5em;
        content: "";
        background-color: var(--c-gray);
      }
    }
    input,
    textarea {
      padding: 1rem 0;
      background-color: transparent;
      outline: none;
      border: none;
      border-bottom: 1px solid white;
      width: 100%;
      color: var(--light);
    }
  }
  &__submit {
    display: flex;
    justify-content: end;
    .btn-link {
      border: none;
      cursor: pointer;
    }
  }
}
