@use '../util' as u;

.experience {
    .container {
        text-align: center;
        padding-top: 2.5rem;
        
        @media (width >= u.rem(768)) {
            text-align: unset;
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: u.rem(9);
        @media (width >= u.rem(768)) {
            width: calc(50% - 1.5rem);
        }

        @media (width >= u.rem(1024)) {
            width: calc(33.3% - 1.5rem);
        }
    }
    hr {
        @media (width >= u.rem(768)) {
            display: none;
        }
        margin-top: u.rem(44);
    }
}