@use "../util" as u;

.project {
    padding-top: 1.5rem;
    .section__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
  .container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    column-gap: 1.5rem;
    @media (width >= u.rem(768)) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    img {
      max-width: 100%;
      height: auto;
      border-radius: u.rem(5);
      object-fit: cover;
      transition: all 0.5s ease-out;
      aspect-ratio: 16/9;
      &:hover {
        transform: scale(0.9);
        object-fit: contain;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
}
